.container {
  width: auto;
  grid-template-rows: 4rem 5rem auto 4rem;
  padding: 1vh 0vh 2vh 0vw;

  @media (min-width: 481px) {
    padding: 2% 25% 2%;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    .language-container {
      padding: 2rem;
    }

    .temperature-container {
      padding: 2rem;
    }
  }

  .search-container {
    text-align: center;
    margin: 2rem 0 3rem 0;

    .input-container {
      position: relative;
      display: inline-block;

      input {
        background-color: var(--shadow-light);
        outline: none;
        border: none;
        border-radius: 20px;
        padding: 1em;
        padding-right: 3em;
        color: #fff;
        font-size: 0.8em;
        text-align: center;
      }

      .search-icon {
        position: absolute;
        top: 50%;
        right: 1em;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
  }

  .weather-container {
  }

  .footer {
    text-align: center;
  }
}
