<div class="container" role="region" aria-labelledby="weather-info" *ngIf="weatherDataInput; else errorTemplate">
  <div class="upper-data">
    <img src="assets/sun.jpg" *ngIf="weatherDataInput.main.temp > 15"
         alt="{{ 'WEATHER.SUNNY_WEATHER' | translate }}"/>
    <img src="assets/cold1.jpg" *ngIf="weatherDataInput.main.temp <= 15"
         alt="{{ 'WEATHER.COLD_WEATHER' | translate }}"/>

    <div class="weather-data">
      <div class="location">{{ weatherDataInput.name }}</div>
      <div class="temperature">
        {{ weatherDataInput.main.temp | number : "1.0-0" }}º{{ currentUnit }}
      </div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">{{ 'WEATHER.MORE_INFO' | translate }}</div>

    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <fa-icon size="lg" [icon]="icons.minTemp"></fa-icon>
          <span>{{ 'WEATHER.MINIMUM' | translate }}</span>
        </div>

        <div class="info-block-value">
          {{ weatherDataInput.main.temp_min | number : "1.0-0" }} º{{ currentUnit }}
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <fa-icon size="lg" [icon]="icons.maxTemp"></fa-icon>
          <span>{{ 'WEATHER.MAXIMUM' | translate }}</span>
        </div>

        <div class="info-block-value">
          {{ weatherDataInput.main.temp_max | number : "1.0-0" }} º{{ currentUnit }}
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <fa-icon size="lg" [icon]="icons.humidity"></fa-icon>
          <span>{{ 'WEATHER.HUMIDITY' | translate }}</span>
        </div>

        <div class="info-block-value">
          {{ weatherDataInput.main.humidity }}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <fa-icon size="lg" [icon]="icons.wind"></fa-icon>
          <span>{{ 'WEATHER.WIND' | translate }}</span>
        </div>

        <div class="info-block-value">
          {{ weatherDataInput.wind.speed }} km/h
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <fa-icon size="lg" [icon]="icons.rain"></fa-icon>
          <span>{{ 'WEATHER.RAIN' | translate }}</span>
        </div>
        <div class="info-block-value" *ngIf="weatherDataInput.rain; else noRainContainer">
          {{ weatherDataInput.rain["1h"] }} %
        </div>

        <ng-template #noRainContainer>
          <div class="info-block-value">
            <span> 0 % </span>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>


<ng-template #errorTemplate>
  <div class="error-message">{{ 'WEATHER.ERROR_LOADING' | translate }}</div>
</ng-template>
