:root {
  --blue-1: #2242c2;
  --blue-2: #0368ec;
  --white: #fff;
  --grey-1: #ededed;
  --shadow-dark: rgba(0, 0, 0, 0.3);
  --shadow-light: rgba(255, 255, 255, 0.277);
}

fa-icon {
  color: var(--white);
}

body {
  width: fit-content;
  background-image: url("/assets/weather04.jpg");
  background-size: cover;
  border-radius: 20px;

  @media (min-width: 480px) {
    width: 100%;
  }
}
